{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Wish List</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
  </head>
  <!-- the main wrapper for all templates -->
  <body>
    <!-- specify where to add all child templates -->
    {% include 'navbar.html'%}
    <h1>Where do you want to go?</h1>

    {% block content %} {% endblock content %}

    <hr />

    <div>
      <p>A travel wish list site built with Django.</p>

      <a class="nav-link" href="{% url 'place_list' %}">Your wishlist</a>
      <a class="nav-link" href="{% url 'places_visited' %}"
        >Places you've visited</a
      >
    </div>
  </body>
</html>
